@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;700&display=swap");

* {
  background-color: #181818;
  color: rgb(255, 255, 62);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}

/* DEFAULT STYLING */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 24px;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* MOBILE MENU */

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 40px;
  display: none;
}

.btn__menu:hover {
  cursor: pointer;
}

.menu__backdrop {
  position: absolute;
  background-color: #181818;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 5.5vw;
  top: 5vh;
  padding: 24px;
}

.btn__menu--close:hover {
  transform: scale(1.08);
  transition: all 300ms ease;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 16px 0;
}

.menu__link {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.menu__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* NAVIGATION */

#navigation {
  margin-top: 5vh;
}

.nav__list {
  padding: 0 24px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  margin-left: 24px;
}

.nav__link--hover-effect {
  position: relative;
}

.nav__link--hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  right: 0;
  width: 0;
  background-color: rgb(255, 255, 62);
  transition: all 300ms ease;
}

.nav__link--hover-effect:hover:after {
  left: 0;
  width: 100%;
}

/* HEADER */

#header {
  margin-top: 5vh;
}

.anime__header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.anime__header--title {
  color: white;
  font-size: 28px;
}

select {
  font-size: 16px;
  border: 1px solid #dcdfe6;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  outline: 0;
  width: 100%;
  max-width: 200px;
}

option {
  color: white;
}

.return {
  margin: 0 24px;
  opacity: 0;
  border: none;
}

.return--appear {
  opacity: 1;
}

.return--appear:hover {
  cursor: pointer;
  text-decoration: underline;
}

select#episode-filter {
 display: flex;
 justify-content: flex-end;
 display: none;
}

/* EPISODES */

.episodes {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  width: 25%;
  padding: 24px;
}

.episode__img--wrapper:hover .episode__img {
  transform: scale(1.03);
  opacity: 0.7;
}

.episode__img--wrapper {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  margin-bottom: 8px;
}

.episode__img {
  width: 100%;
  max-height: 325px;
  transition: all 300ms ease;
  cursor: no-drop;
}

.episode__episode {
  color: white;
}

.episode p {
  margin-bottom: 4px;
}

.episode__episode,
.episode__anime {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav__list {
    font-size: 20px;
  }
  .logo {
    font-size: 32px;
  }
  .anime__header--title {
    font-size: 24px;
  }
  select {
    padding: 6px 12px;
  }
  .episode__anime,
  .episode__episode {
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .nav__link {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .episode {
    width: 50%;
  }
}
